@import '../foundation/base.scss';

// /contactの時にheaderへ追加スタイル
header {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

// 初期化
input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.p-customContact {
    p {
        margin: 0;
    }
    br {
        display: none;
    }

    label {
        display: block;
        border: 1px solid $gray70;
        padding: .25rem;
        border-radius: 5px;
    }

    font-weight: bold;

    &__container {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__inner {
        padding: 2rem 1rem 4rem 1rem;
    }

    &__box {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        h1 {
            max-width: 500px;
            font-size: calc(25px + (32 - 25) * ((100vw - 375px) / (1920 - 375)));
            border-bottom: 2px solid $red;
            margin: 0 auto;
            padding: 0 0 .75rem 0;
        }
    }

    &__subtitle {
        text-align: left;
        padding: 1rem 0 .5rem 0;
    }

    &__submit {
        width: 265px;
        margin: 0 auto;
        padding-top: 2rem;
    }
}

.wpcf7-spinner {
    display: none !important;
}

.wpcf7 input,
.wpcf7 textarea {
    width: 100%!important;
    max-width: 500px;
}

.wpcf7-submit {
    cursor: pointer;
    color: $white;
    font-weight: bold;
    background-color: $red;
    border-radius: 50px;
    padding: .75rem;
    font-size: calc(21px + (21 - 21) * ((100vw - 375px) / (1920 - 375)));
}
